# 로 시작하는건 코멘트
# 하위디렉토리를 포함한 hoge.dcu 등의 파일을 무시
*.dcu

# 최상위디렉토리의 *.exe 파일만 무시
# 하위디렉토리는 무시하지 않는다.
/*.exe


# tmp 디렉토리 전체를 무시하는 경우.
tmp/

# cache 디렉토리를의 안에파일을 전부 무시.
# 그리고 .htaccess 는 제외(무시대상에 제외)
cache/*.*
!.htaccess

# *.o 전부 무시.
# zlib/ 이하의 *.o는 제외(무시대상에서 제외)
*.o
!zlib/*.os